@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
nav {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  margin-top: 20px;
  padding: 30px, 0px, 30px, 101px;
  gap: 477px;
  position: sticky;
}
nav ul {
  float: right;
  margin: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 20px;
  margin: 0 5px;
  width: 110px;
}
nav ul a li {
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
}
nav img {
  margin-left: 50px;
  width: 100px;
  height: 93px;
}
nav ul a li button {
  border-radius: 10px;
  height: 40px;
  width: 76px;
  gap: 10px;
  padding: 10px, 15px, 10px, 15px;
  background-color: #7c0b0b;
  color: #ffffff;
  text-transform: capitalize;
  border: none;
}
.nav-btn{
display: none;
}


.one {
  background-image: url(./images/Rectangle\ 1.png);
  background-color: #7c0b0b 60%;
  height: 789px;
  width: 1440px;
  top: 100px;
}
.one div {
  width: 396px;
  height: 127px;
  top: 431px;
  left: 522px;
  gap: 13px;
  position: absolute;
}
.one div p {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  text-align: center;
  line-height: 36.57px;
}
.one div button {
  width: 147px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  background-color: #ffffff;
  text-transform: capitalize;
  align-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 19.5px;
  color: #7c0b0b;
  font-family: "Montserrat", sans-serif;
  margin-left: 120px;
  border: none;
}
.two {
  display: flex;
  margin-top: 30px;
  gap: 200px;
  margin-left: 30px;
}
form {
  width: 463px;
  height: 471px;
  gap: 29px;
  margin-top: 20px;
}
.two div form {
  border-style: groove;
  margin-left: 20px;
  width: 587px;
  height: 651px;
  border-color: #7c0b0b 40%;
  border: 1px solid #7c0b0b66;
  left: 100px;
  top: 982px;
  gap: 10px;
}
.two div form h4 {
  width: 232px;
  height: 37px;
  text-transform: capitalize;
  color: #7c0b0b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 36.57px;
  margin-left: 40px;
  margin-top: 48px;
}
.two div form p {
  width: 341px;
  height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: #7c0b0b;
  font-family: "Montserrat", sans-serif;
  margin-left: 40px;
}
.two div form label {
  width: 54px;
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 19.5px;
  text-transform: capitalize;
  margin-left: 40px;
}
.two div form input {
  width: 463px;
  height: 42px;
  border: 1px solid #7c0b0b4d;
  margin-left: 40px;
  color: #7c0b0b66 40%;
  border-color: #7c0b0b66 30%;
}
.two div form button {
  background-color: #7c0b0b;
  color: #ffffff;
  width: 96px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 8px;
  gap: 10px;
  margin-left: 190px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 19.5px;
  margin-top: 20px;
}
.s-img {
  width: 558px;
  height: 651px;
  top: 982px;
  left: 700px;
  border-radius: 50px;
  background-color: #d9d9d9;
  margin-top: 30px;
  margin-right: 10px;
}
.three div h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  margin-top: 70px;
}
.three div p {
  text-align: center;
  height: 120px;
  top: 1854px;
  left: 99px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
.most {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  margin-top: 70px;
}
.how {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
  margin-top: 70px;
}
.four {
  display: flex;
  margin-left: 30px;
}
.four div {
  width: 366px;
  height: 328px;
  border-radius: 30px;
  border: 1px;
  border: 1px solid #7c0b0b;
  margin: 40px;
}
.four img {
  margin-left: 140px;
  margin-top: 80px;
}
.four h6 {
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
}
.four p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  width: 292px;
  margin-left: 0.9cm;
}
.five {
  display: flex;
  margin-left: 30px;
}
.five div {
  width: 267px;
  height: 198px;
  border-radius: 30px;
  background-color: #7c0b0b;
  color: #ffffff;
  margin: 30px;
}
.five div img {
  margin-left: 90px;
  width: 60px;
  height: 60px;
  border: 1px;
  border: 1px #000000;
  margin-top: 40px;
}
.five div h5 {
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  margin-top: 20px;
}
.five div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
}
.six {
  display: flex;
  margin-left: 30px;
}
.six div {
  width: 267px;
  height: 198px;
  border-radius: 30px;
  background-color: #7c0b0b;
  color: #ffffff;
  margin: 30px;
}
.six div img {
  margin-left: 90px;
  width: 60px;
  height: 60px;
  border: 1px;
  border: 1px #000000;
  margin-top: 40px;
}
.six div h5 {
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-align: center;
  margin-top: 20px;
}
.six div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
}
.view {
  background-color: #7c0b0b;
  color: #ffffff;
  width: 96px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 8px;
  gap: 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 19.5px;
  margin-top: 20px;
  border: none;
  margin-left: 46%;
  margin-top: 20px;
}
.seven {
  text-align: center;
  margin-top: 120px;
}
.seven h3 {
  height: 37px;
  top: 3385px;
  left: 620px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
}
.seven p {
  height: 20px;
  width: 124px;
  top: 3434px;
  margin-left: 550px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: #7c0b0b;
}
.eight {
  display: flex;
}
.eight div {
  width: 366px;
  height: 328px;
  border-radius: 30px;
  background-color: rgba(124, 11, 11, 0.4);
  color: black;
  margin: 30px;
}
.eight p {
  width: 292px;
  height: 120px;
  top: 3623px;
  left: 137px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  margin-top: 58px;
  text-align: center;
  margin-left: 20px;
}
.eight h5 img {
  margin: 20px;
  width: 60px;
  height: 60px;
  top: 3775px;
  left: 1017px;
  border: 1px;
}
.eight h5 {
  width: 400px;
  top: 3705px;
}
.nine {
  text-align: center;
  margin-top: 150px;
}
.nine h2 {
  height: 37px;
  top: 4056px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36.57px;
}
.nine p {
  height: 20px;
  top: 4105px;
  left: 386px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: rgba(124, 11, 11, 1);
}
.nine form {
  width: 90%;
  max-width: 550px;
  position: relative;
  margin-left: 32%;
}
.nine input {
  width: 100%;
  max-width: 550px;
  border: 2px solid #7c0b0b;
  height: 54px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #7c0b0b;
}
.nine button {
  position: relative;
  top: -11.5%;
  left: 251px;
  background-color: #7c0b0b;
  height: 54px;
  width: 164px;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 19.5px;
  border: none;
}
footer {
  background-color: #7c0b0b;
  width: 1440px;
  height: 407px;
  top: 4365px;
  margin-top: -60px;
}
.foot {
  background-color: #ffffff;
  width: 695px;
  height: 100px;
  top: 4474px;
  left: 100px;
  border-radius: 30px;
  display: flex;
  
}
.foot-one {
  width: 100px;
  height: 93px;
}
.foot-one img{
width: 100px;
height: 93px;
top: 4485px;
left: 151px;
margin-left: 30px;
}
.foot-one h4 {
  width: 300.03px;
  height: 20px;
  top: 4546px;
  left: 147px;
  margin: auto;
 
}
.foot-btn {
  background-color: #7c0b0b;
  color: #ffffff;
  width: 114.32px;
  height: 40px;
  border-radius: 10px;
  padding: 10px 8px;
  gap: 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 19.5px;
  border: none;
  margin-left: 60%;
  margin-top: 5%;
}
.foot-two{
  display: flex;
  gap: 50px;
  margin-left: 75%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
